PORT=5000
SERVICE_NAME=api-gateway
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

AUTH_SERVICE_URL=http://localhost:5001
EV_SERVICE_URL=http://localhost:5002
STATION_SERVICE_URL=http://localhost:5003
BOOKING_SERVICE_URL=http://localhost:5004
DECISION_SERVICE_URL=http://localhost:5005
CHARGING_SERVICE_URL=http://localhost:5006
PAYMENT_SERVICE_URL=http://localhost:5007
NOTIFICATION_SERVICE_URL=http://localhost:5008
ANALYTICS_SERVICE_URL=http://localhost:5009
