PORT=5008
SERVICE_NAME=notification-service
NODE_ENV=development
MONGO_URI=mongodb://mongodb:27017/notification_db
JWT_SECRET=supersecretjwtkey_ev_2026_change_in_prod
INTERNAL_KEY=internal_secret_key_2026_ev_system
USE_MOCK=false
